
.container-fluid{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    padding: 10px;
}
a{
    text-decoration: none;
    padding-right: 10px;
    color: rgb(255, 255, 255);
}

#hero-section{
    width: 70%;
    border: 1px solid black;
}

.card{
    border: transparent;
    background-color: transparent;
}

#col1{
    border-right: 2px solid rgb(14, 11, 11);
}